build/
static/
.vscode/
.idea/

doxygen-awesome-css
*.o
*.log
.vscode/tasks.json
build/myapp
.vscode/settings.json
src/jsoncParser
templates/example.json
doc_output/*
doc_output/html/annotated_dup.js
doc_output/html/annotated.html
doc_output/html/bug.html
doc_output/html/classes.html
doc_output/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
doc_output/html/dir_68267d1309a1af8e8297ef4c3efbcdba.js
doc_output/html/dir_d44c64559bbebec7f509842c48db8b23.html
doc_output/html/dir_d44c64559bbebec7f509842c48db8b23.js
doc_output/html/doxygen_crawl.html
doc_output/html/doxygen.css
doc_output/html/dynsections.js
doc_output/html/files.html
doc_output/html/functions_vars.html
doc_output/html/functions.html
doc_output/html/globals_enum.html
doc_output/html/globals_eval.html
doc_output/html/globals_func.html
doc_output/html/globals_type.html
doc_output/html/globals_vars.html
doc_output/html/globals.html
doc_output/html/images_8c.html
doc_output/html/images_8h_source.html
doc_output/html/images_8h.html
doc_output/html/index.html
doc_output/html/main_8c.html
doc_output/html/main_8c.js
doc_output/html/navtree.css
doc_output/html/navtree.js
doc_output/html/navtreedata.js
doc_output/html/navtreeindex0.js
doc_output/html/pages.html
doc_output/html/render__manager_8c.html
doc_output/html/render__manager_8h_source.html
doc_output/html/render__manager_8h.html
doc_output/html/render__manager_8h.js
doc_output/html/shapes_8c.html
doc_output/html/shapes_8h_source.html
doc_output/html/shapes_8h.html
doc_output/html/structfontListStruct.html
doc_output/html/structtransitionProperties.html
doc_output/html/tabs.css
doc_output/html/text_8c.html
doc_output/html/text_8h_source.html
doc_output/html/text_8h.html
doc_output/html/todo.html
doc_output/html/utils_8c.html
doc_output/html/utils_8h_source.html
doc_output/html/utils_8h.html
doc_output/html/search/all_0.js
doc_output/html/search/all_1.js
doc_output/html/search/all_2.js
doc_output/html/search/all_3.js
doc_output/html/search/all_4.js
doc_output/html/search/all_5.js
doc_output/html/search/all_6.js
doc_output/html/search/all_7.js
doc_output/html/search/all_8.js
doc_output/html/search/all_9.js
doc_output/html/search/all_a.js
doc_output/html/search/all_b.js
doc_output/html/search/all_c.js
doc_output/html/search/all_d.js
doc_output/html/search/all_e.js
doc_output/html/search/all_f.js
doc_output/html/search/classes_0.js
doc_output/html/search/classes_1.js
doc_output/html/search/classes_2.js
doc_output/html/search/files_0.js
doc_output/html/search/files_1.js
doc_output/html/search/files_2.js
doc_output/html/search/files_3.js
doc_output/html/search/files_4.js
doc_output/html/search/files_5.js
doc_output/html/search/functions_0.js
doc_output/html/search/functions_1.js
doc_output/html/search/functions_2.js
doc_output/html/search/functions_3.js
doc_output/html/search/functions_4.js
doc_output/html/search/functions_5.js
doc_output/html/search/functions_6.js
doc_output/html/search/functions_7.js
doc_output/html/search/functions_8.js
doc_output/html/search/functions_9.js
doc_output/html/search/search.css
doc_output/html/search/search.js
doc_output/html/search/searchdata.js
doc_output/html/search/typedefs_1.js
doc_output/html/search/typedefs_2.js
doc_output/html/search/typedefs_3.js
doc_output/html/search/variables_1.js
doc_output/html/search/variables_2.js
doc_output/html/search/variables_3.js
doc_output/html/search/variables_4.js
doc_output/html/search/variables_5.js
doc_output/html/search/variables_6.js
doc_output/html/search/variables_7.js
doc_output/html/search/variables_8.js
doc_output/html/search/variables_9.js
doc_output/html/search/variables_a.js
doc_output/html/search/variables_b.js
doc_output/html/search/variables_c.js
